
/**
 * 由 Fantastic-admin 提供技术支持
 * Powered by Fantastic-admin
 * Gitee  https://gitee.com/hooray/fantastic-admin
 * Github https://github.com/hooray/fantastic-admin
 */
  
.draw_container{flex-wrap:wrap;min-height:400px}.draw_img_container{width:18%;flex-direction:column;margin:8px;box-sizing:border-box}
